<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link rel="stylesheet" href="styles.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <title>Donations Admin</title>
    <style>
        :root {
  --main-bg-color: #9d0069;
  --main-text-color: #9d0088;
  --second-text-color: #bbbdc5;
  --second-bg-color: #edc1ef;
}

.primary-text {
  color: var(--main-text-color);
}

.second-text {
  color: var(--second-text-color);
}

.primary-bg {
  background-color: var(--main-bg-color);
}

.secondary-bg {
  background-color: var(--second-bg-color);
}

.rounded-full {
  border-radius: 100%;
}

#wrapper {
  overflow-x: hidden;
  background-image: linear-gradient(
    to right,
    #abd0f3,
    rgb(214, 132, 203),
    #dccbf7,
    #f1d4f8,
    #fadde2
  );
}

#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  -webkit-transition: margin 0.25s ease-out;
  -moz-transition: margin 0.25s ease-out;
  -o-transition: margin 0.25s ease-out;
  transition: margin 0.25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
  width: 15rem;
}

#page-content-wrapper {
  min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

#menu-toggle {
  cursor: pointer;
}

.list-group-item {
  border: none;
  padding: 20px 30px;
}

.list-group-item.active {
  background-color: transparent;
  color: var(--main-text-color);
  font-weight: bold;
  border: none;
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }
}

    </style>
</head>
<body>
    <div class="d-flex" id="wrapper">
        <!-- Sidebar -->
        <div class="bg-white" id="sidebar-wrapper">
            <div class="sidebar-heading text-center py-4 primary-text fs-4 fw-bold text-uppercase border-bottom">

            HappyDonates</div>
                        <div class="list-group list-group-flush my-3">
                <a href="{% url 'admin_home' %}" class="list-group-item list-group-item-action bg-transparent second-text fw-bold"><span class="material-icons me-2">
                    dashboard
                    </span></i>Dashboard</a>
                <a href="{% url 'admin_user' %}" class="list-group-item list-group-item-action bg-transparent second-text active "><span class="material-icons me-2">
                    person
                    </span>
                    Users</a>
                <a href="{% url 'admin_post' %}" class="list-group-item list-group-item-action bg-transparent second-text fw-bold"><span class="material-icons me-2">
                    favorite
                    </span>Post</a>
                <a  href="{% url 'admin_donation_request' %}" class="list-group-item list-group-item-action bg-transparent second-text fw-bold">
                    <i class="fas fa-chart-line me-2"></i>Donations</a>
                <a href="{% url 'admin_category' %}"  class="list-group-item list-group-item-action bg-transparent second-text fw-bold">
                    <span class="material-icons me-2">
                        category
                        </span>
                Categories</a>
                <a href="#" class="list-group-item list-group-item-action bg-transparent second-text fw-bold">
                        <span class="material-icons me-2">
                            library_books
                            </span>
                        Add Ads</a>
                <a href="#" class="list-group-item list-group-item-action bg-transparent second-text fw-bold"><span class="material-icons me-2">
                    admin_panel_settings
                    </span>Settings</a>

                <a href="#" class="list-group-item list-group-item-action bg-transparent text-danger fw-bold"><span class="material-icons me-2">
                    logout
                    </span></i>Logout</a>
            </div>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <nav class="navbar navbar-expand-lg navbar-light bg-transparent py-4 px-4">
                <div class="d-flex align-items-center">
                    <i class="fas fa-align-left primary-text fs-4 me-3" id="menu-toggle"></i>
                    <h2 class="fs-2 m-0">Donation</h2>
                </div>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle second-text fw-bold" href="#" id="navbarDropdown"
                                role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="fas fa-user me-2"></i>Admin
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="#">Profile</a></li>
                                <li><a class="dropdown-item" href="#">Settings</a></li>
                                <li><a class="dropdown-item" href="#">Logout</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
        <!-- main content -->
            <div class="container-fluid px-4">
              <div class="row g-4 my-2">
                <div class="col-md-3">
                    <div class="p-3 bg-white shadow-sm d-flex justify-content-around align-items-center rounded">
                        <div>
                            <h3 class="fs-4">7200</h3>
                            <p class="fs-6">Total requests</p>
                        </div>


                        <span class="material-icons fs-1  primary-text border rounded-full secondary-bg p-3">
                            people
                        </span>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="p-3 bg-white shadow-sm d-flex justify-content-around align-items-center rounded">
                        <div>
                            <h3 class="fs-4">492000</h3>
                            <p class="fs-6">Active Donations</p>
                        </div>
                        <span class="material-icons fs-1  primary-text border rounded-full secondary-bg p-3">

                                equalizer

                            </span>


                    </div>
                </div>

                <div class="col-md-3">
                    <div class="p-3 bg-white shadow-sm d-flex justify-content-around align-items-center rounded">
                        <div>
                            <h3 class="fs-4">3899</h3>
                            <p class="fs-6">Requests Month</p>
                        </div>
                        <span class="material-icons fs-1  primary-text border rounded-full secondary-bg p-3">

                                leaderboard

                            </span>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="p-3 bg-white shadow-sm d-flex justify-content-around align-items-center rounded">
                        <div>
                            <h3 class="fs-4">120000</h3>
                            <p class="fs-6">Requests Year</p>
                        </div>
                        <span class="material-icons fs-1  primary-text border rounded-full secondary-bg p-3">
                            area_chart
                            </span>
                    </div>
                </div>
            </div>

                <div class="row my-5">
                    <h3 class="fs-4 mb-3">Donations requests</h3>
                    <form class="row g-3">

                        <div class="col-auto">

                            <select class="form-select col-md-4"  aria-label="Default select example">
                                <option selected>Loaction</option>
                                <option value="1">Kerala</option>
                                <option value="2">Tamil Nadu</option>
                                <option value="3">Delhi
                                </option>
                              </select>
                        </div>

                        <div class="col-auto">

                            <select class="form-select col-md-4"  aria-label="Default select example">
                                <option selected>Category</option>
                                <option value="1">Hospital</option>
                                <option value="2">Non-Hospital</option>

                              </select>
                        </div>

                        <div class="col-auto">
                          <label for="userSearch" class="visually-hidden">Password</label>
                          <input type="text" class="form-control" id="userSearch" placeholder="Search user.....">
                        </div>
                        <div class="col-auto">
                          <button type="submit" class="btn btn-primary mb-3">Search</button>
                        </div>

                      </form>


                    <div class="col">
                        <table class="table bg-white rounded shadow-sm  table-hover">
                            <thead>
                                <tr>
                                    <th scope="col" width="50">#</th>
                                    <th data-column="postname" data-order="desc" scope="col">Donations Title</th>
                                    <th data-column="postlocation" data-order="desc"  scope="col">Location</th>
                                    <th data-column="postCategory" data-order="desc" scope="col">Category</th>
                                    <th data-column="postdate" data-order="desc" scope="col">Create at</th>
                                    <th data-column="poststatus" data-order="desc" scope="col">Status</th>
                                </tr>
                            </thead>
                            <tbody id="myTable">

                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- /#page-content-wrapper -->
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"></script>
    <script>
        var el = document.getElementById("wrapper");
        var toggleButton = document.getElementById("menu-toggle");
        var myArray = [
	    {'postname':'heart removal',  'postlocation':'Ernakulam', 'postCategory':'Hospital', 'postdate':'11/10/2023', 'poststatus':'More'},
	    {'postname':'TV',  'postlocation':'Kottayam', 'postCategory':'Non-Food', 'postdate':'12/10/2023', 'poststatus':'Inctive'},
	    {'postname':'Meals',  'postlocation':'Ernakulam', 'postCategory':'Food', 'postdate':'11/12/2023', 'poststatus':'Active'},
	    {'postname':'Fridge',  'postlocation':'Alapuzha', 'postCategory':'Non-Food', 'postdate':'11/12/2023', 'poststatus':'Active'},
        {'postname':'Beef Biriyani',  'postlocation':'Ernakulam', 'postCategory':'Food', 'postdate':'15/12/2023', 'poststatus':'Inactive'},
        {'postname':'Headphone',  'postlocation':'Ernakulam', 'postCategory':'Non-Food', 'postdate':'11/11/2023', 'poststatus':'Active'},
        {'postname':'Iphone 13',  'postlocation':'Kollam', 'postCategory':'Non-Food', 'postdate':'11/01/2023', 'poststatus':'Inactive'},

	]

	$('th').on('click', function(){
		var column = $(this).data('column')
		var order = $(this).data('order')
		var text = $(this).html()
		text = text.substring(0, text.length - 1)

		if(order == 'desc'){
			$(this).data('order', "asc")
			myArray = myArray.sort((a,b) => a[column] > b[column] ? 1 : -1)
			text += '&#9660'

		}else{
			$(this).data('order', "desc")
			myArray = myArray.sort((a,b) => a[column] < b[column] ? 1 : -1)
			text += '&#9650'

		}
		$(this).html(text)
		buildTable(myArray)
	})

	buildTable(myArray)

	function buildTable(data){
		var table = document.getElementById('myTable')
		table.innerHTML = ''
		for (var i = 0; i < data.length; i++){
			var row = `<tr>
                            <td>${i}</td>
							<td>${data[i].postname}</td>
							<td>${data[i].postlocation}</td>
                            <td>${data[i].postCategory}</td>
                            <td>${data[i].postdate}</td>
                            <td>${data[i].poststatus}</td>

					  </tr>`
			table.innerHTML += row


		}
	}

        toggleButton.onclick = function () {
            el.classList.toggle("toggled");
        };


    </script>
</body>

</html>